<ion-view title="post" id="page8">
  <ion-content padding="true" class="has-header">
    <form id="post-form5" class="list">
      <label class="item item-input" id="post-textarea2">
        <span class="input-label">Post</span><textarea placeholder=""></textarea></label>
    </form>
    <div id="post-button-bar1" class="button-bar">
      <button id="post-button9" class="button button-positive  button-block icon ion-images"></button>
      <button id="post-button10" class="button button-balanced  button-block icon ion-camera"></button>
      <button id="post-button11" class="button button-positive  button-block icon ion-ios-location"></button>
    </div>
    <button id="post-button12" class="button button-positive  button-block">Post</button>
  </ion-content>
</ion-view>